/* You can add global styles to this file, and also import other style files */
.page-header {
  background-color: #3772ad;
  color: white;
  padding: 0.5em 1em 0.5em 1em;
}

body {
  background-color: snow;
}
